body {
	font-size: 90.0%;
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	background: white;
	color: black;
	padding: 0;
	margin: 0;
	text-align:center;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/* links */
a:hover { background-color:#d0e0ff; }
a img { border: none; }
a[class ^="out"] {
   padding-right: 18px;
   background: transparent url(external.gif) no-repeat center right;
}
a[href $='.zip'] { 
   padding-left: 18px;
   background: transparent url(zipicon.gif) no-repeat center left;
}
a[href *='ttdpatch.net'] { 
   padding-left: 18px;
   background: transparent url(ttdpatch.gif) no-repeat center left;
}
a[href *='openttd.org'] { 
   padding-left: 18px;
   background: transparent url(ottd.gif) no-repeat center left;
}

/* header and footer */
#header, #footer {
	background: white;
	clear:both;
	text-align:left;
	width: 100%;
	margin: 0;
}
#footer {
  padding-top:1em;
  height:90px;
  margin:0;
  position:relative;bottom:0;
}

#footertext {
  background-color:#d0e0ff;
  margin:0;
  position:absolute;
  bottom:0;
  left:90px;
  right:0px;
}

#author {
  background-color:#ffffff;
  padding: 3px;
  text-align:right;
}

/* menus in header and footer */
#header ul, #footer ul {
  padding: 3px;
  margin: 0;
  list-style:none;
  border-color: black;
  background-color:#d0e0ff;
}
#header ul { border-bottom: solid 1px; }
#footer ul { border-top: solid 1px; }
#header ul li, #footer ul li { display: inline; }

#header ul li a, #footer ul li a {
  padding: 2px 1em;
  margin-left: 3px;
  border: 1px solid;
  background-color:#e0f0ff;
}
#header ul li a {
  border-bottom: 0;
}
#footer ul li a {
  border-top: 0;
}
#header ul li span, #footer ul li span {
  margin-left: 3px;
  font-weight:bold;
  border-color:#000000;
  border: 1px solid;
  border-top: 0;
  background-color: white;
}
#header ul li span {
  padding: 2px 1em 4px; 
  border-bottom: 0;
}

#footer ul li span {
  padding: 4px 1em 2px; 
  background-color: white;
}

#header ul a:hover, #footer ul a:hover {
  background-color: white;
}

/* headings */
h1, h2, h3 {
	font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
	font-weight: bold;
}

h4, h5, h6 {
  font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	font-weight: bold;
}

h1 {
	font-size: 2.5em;
	margin: 0;
}

h2 {
	font-size: 1.6em;
	margin-top: 0;
}

h3 {
	font-size: 1.3em;
}

/* navigation bar to the left */
#navbar {
  padding: 20px 0 10px 0px;
  width: 14em;
  text-align:left;
  float:left;
  margin-right:5px;
  max-width:25%;
  font-size: 1em;
  background:url(background.png);
}

#navbar ul {
	margin: 0;
	padding: 0 0 0 5px;
  list-style-position:outside;
}

#navbar ul li {
  list-style-type: none;
	list-style-image: none;
	margin-bottom: 15px;
}

#navbar h2 {
  margin: 5px 0 0 5px;
	padding: 0;
	font-size: 1em;
	font-family: 'Lucida Grande', Verdana, Sans-Serif;
}

#navbar p {
  margin: 5px 0 0 5px;
  padding-left: 18px;
}

#navbar ul li ul {
  margin-left: 10px;
}
#navbar ul li ul li{
  padding: 0;
  margin: 0;
}

#page {
  width:100%;
  background-color:#f8f8f8;
  overflow:hidden;
  background:url(background.png);
  flex: 1;
}

#content {
  margin: 0 0 0 14em;
  padding: 0 1em 0 1em;
  background-color:#ffffff;
}

.text {
  margin: 0 auto;
  max-width:50em;
  text-align: justify;
  height:100%;
  border: 1px solid white;
}

.floatbox { overflow:hidden; }
/* IE hack */
* html .floatbox {width:100%;}

.attention, .todo, .info, .ottd, .ttdp {
  margin-top:1em;
  margin-bottom:1em;
  padding:5px;
}

.attention {
  border: 1px solid red;
  background-color: #FFF7F7;
}
.ottd, .ttdp {
  border: 1px solid #007C00;
  background-color: #EFFFEF;
}
.info {
  border: 1px solid blue;
  background-color: #F7F7FF;
}

.todo {
  border: 1px solid #FFCC00;
  background-color: #FFFFCC;
}
.attention img, .todo img, .info img, .ottd img, .ttdp img {
  margin-top:.5em;
}
/* this inner block is used inside .attention, .warning, .caution, ... */
.innerblock {
  margin-left:40px;
  padding:5px;
}


/* misc */
p {
  margin-top:5px;
  margin-bottom:5px;
}
.text p {
  margin-top:0px;
  padding-top:0px;
}
p.clearboth {
  clear:both;
  font-size: 1em;
  padding-bottom:5px;
}

.buttons {
  display:block;
  text-align:left;
}

.clearboth {
  clear:both;
  padding-bottom:1em;
}

.switches {
  padding-bottom:1em;
}

.backtotop {
  padding:5px;
  text-align:center;
  clear:both;
}

code {
  font: 1.1em 'Courier New', Courier, Fixed;
}

.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.centered {
  text-align: center;
}
.left {
  text-align:left;
}
.right {
  text-align:right;
}
/* images */

img.logoleft {
  padding: 0;
  margin: 0;
	float: left;
	display: inline;
}
img.logoright {
  padding: 0;
  margin: 0;
	float: right;
	display: inline;
}
img.button {
  padding:0;
  margin:0;
}
img.alignleft {
  padding-right:5px;
  padding-bottom:5px;
}

/* alternating styles for listings, tables and such */
.alternatedark {
  background-color: #f8f8f8;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.alternatedark p, .alternate p {
  margin: 10px;
}
.alternatedark div, .alternate div {
  padding-bottom: 10px;
}

.strike {
  color:#777;
  text-decoration:line-through;
}

code {
  font: 1.1em 'Courier New', Courier, Fixed;
}

table {
  border-spacing: 0;
  border: 0px;
}

td, th {
  vertical-align:top;
  text-align:left;
  border: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

td.alternatedark, th.alternatedark {
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

td.alternatedarkgreen {
  background-color: #00f800;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

td.alternatedarkyellow {
  background-color: #f8f800;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
td.alternatedarkred {
  background-color: #f80000;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
td.green {
  background-color: #00ff00;
  border-left: 1px solid #ddd;
}
td.yellow {
  background-color: #ffff00;
  border-left: 1px solid #ddd;
}
td.red {
  background-color: #ff0000;
  border-left: 1px solid #ddd;
}
dt {
  font-weight:bold;
}