*, ::before, ::after {
  box-sizing: border-box;
}

body {
  font-size: 1em;
  font-size: 1rem;
  font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
  background: white;
  color: black;
  padding: 0;
  margin: 0;
  text-align: start;
}

/* hide elements visually but not from screenreaders */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

/* select the page header as direct child of body */
body > header {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: #d0e0ff;
}

/* format the direct child elements of the page header */
body > header > a,
body > header > a img {
  display: block;
}

body > header > h1 {
  margin: 0;
  padding: 0 0.5em 0.25em 0.5em;
  padding: 0 0.5rem 0.25rem 0.5rem;
}

/* general rules for navigation lists */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* main navigation in the page header */
body > header > nav,
body > footer > nav {
  padding: 0.5em;
}

/* page internal navigation block */
#navbar {
  margin: 0;
  padding: 1em 0.5em 0.5em 0.5em;
  background-color: #ececec;
  background: url("../images/background.png");
}

#navbar > div:not(:last-child) {
  margin: 0 0 1em 0;
}

#languageselection ul,
#filters ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em 0.5em;
}

#subnavigation > ul > li {
  font-weight: bold;
}
#subnavigation > ul > li:not(:last-child) {
  margin-bottom: 0.5em;
}
#subnavigation > ul > li ul {
  font-weight: normal;
  margin: 0.5em 0 0 0;
}
#subnavigation > ul > li ul li:not(:last-child) {
  margin: 0 0 0.125em 0;
}
#subnavigation > ul > li ul a {
  margin: 0 0 0 1.25em;
}

#subnavigation ul a {
  display: block;
  padding: 0.125em 0.25em;
  text-decoration: none;
}
#subnavigation ul a:not([href]) {
  background: #ffffff55;
}
#subnavigation ul a[href]:focus,
#subnavigation ul a[href]:hover {
  background: #d0e0ff55;
  text-decoration: underline;
}

/* general rules for main */
main {
  padding: 1em 0.5em 0 0.5em;
  margin: 0;
}

main > section:not(:last child) {
  margin: 0 0 0.75em 0;
}

main > section h2 {
  margin: 0 0 1em 0;
}

main table {
  border-collapse: collapse;
}
main table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
thead tr,
tbody tr:nth-child(2n) {
  background: #f8f8f8;
}
tbody tr:nth-child(2n+1) {
  background: #fff;
}

.properties-list {
  margin: 0 0 1em 0;
  width: 100%;
}
.properties-list th {
  text-align: end;
}
.properties-list tr > * {
  padding: 0.125em 0.25em;
  width: 50%;
}
.properties-list tbody tr:nth-child(2n) {
  background: #fff;
}
.properties-list tbody tr:nth-child(2n+1) {
  background: #f8f8f8;
}

section figure {
  margin: 0 0 1em 0;
}
section figure a.images {
  display: block;
  margin: 0 0 0.5em 0;
  padding: 0;
}
section figure a.images img {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

#stepnav {
  display: flex;
  flex-direction: column;
  gap: 0.125em 0.25em;
  list-style: none;
  margin: 1em 0;
  padding: 0;
}
#stepnav a.before::before {
  content: "⇦ ";
}
#stepnav a.top::before {
  content: "⇧ ";
}
#stepnav a.after::before {
  content: "⇨ ";
}

/* formatting of the page footer */
/* the navigation formats was defined in the block for body > header > nav  */
body > footer {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: #d0e0ff;
}

#footertext {
  padding: 0.5em 0.5em 0 0.5em;
}

#footertext ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em 0.5em;
}

#footertext ul a,
#footertext ul img {
  display: block;
}

/* rules for broader views that deviate from the general rules for the mobile view */
@media screen and (min-width: 36em) {
  body > header {
    background: #fe2;
  }
  #stepnav {
    display: flex;
    flex-direction: row;
    gap: 0.125em 0.25em;
    justify-content: space-between;
  }
  #stepnav a.before::before {
    content: "⇦ ";
  }
  #stepnav a.top::before {
    content: "⇧ ";
  }
  #stepnav a.after::before {
    content: "";
  }
  #stepnav a.after::after {
    content: " ⇨";
  }
}
